@media (min-width: 950px) {
    .imageItem {
        width: 30%;
    }
    .imageItself{
        width: 100%;
    }
    .modalWindow.open{
        min-width: 80%;
        min-height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (min-width: 650px) and (max-width: 949px) {
    .imageItem {
        width: 45%;
    }
    .imageItself{
        width: 100%;
    }
    .modalWindow.open{
        min-width: 80%;
        min-height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}
@media (max-width: 649px) {
    .imageItem {
        width: 95%;
    }
    .imageItself{
        width: 100%;
    }
    .modalWindow.open{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.imageItem {
    float: left;
    margin: 10px 10px 10px 10px;
}


.overlay{
    visibility: hidden;
}
.overlay.open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
    z-index: 20;
    visibility: visible;
}

.modalWindow {
    visibility: hidden;
}

.modalWindow.open {
    z-index: 30;
    position: fixed;
    background: white;
    visibility: visible;
}