button.close{
    text-align: center;
    float: right;
    margin: 10px 10px 10px 70%;
}

.commentsList{
    list-style: none;
    float: left;
    margin: 0 20px 0 20px;
}

.commentItem{
    margin: 10px 10px 10px 10px;
}

.commentDate{
    color: grey;
}

.commentText{
}

.imageContent{
    float: left;
    margin: 20px 20px 20px 20px;
    min-width: 50%;
}

.toComment{
    float: left;
}
.toCommentName{
    min-width: 50%;
    margin: 10px 0 10px 20px;
}
.toCommentText{
    min-width: 50%;
    margin: 10px 0 10px 20px;
}
.toCommentButton{
    min-width: 50%;
    margin: 10px 0 10px 20px;
    color: white;
    background: lightskyblue;
}